.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input,
select {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.error {
  color: red;
  margin-top: 5px;
  font-size: 12px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.profile-container p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.profile-container a {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: white;
  background-color: #0077cc;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  text-decoration: none;
}

.profile-container a:hover {
  background-color: #005fa3;
}


.dashboard-container {
  margin: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 5px;
}
h1, h2, p {
  color: #333;
}